@charset "UTF-8";


body{background-color: rgb(214, 226, 226);}

h1{font-family: 'vacia';}

nav > a{background-color: rgb(37, 33, 241);
color: white;
text-decoration: none;
border-radius: 3px;
padding: 5px;}

nav > a:hover {color: yellow;}

h2{background-color: white;
   color: #7520f3;
   width: 150px;
box-shadow: 2px 2px 5px black;
border-radius: 3px 3px;
padding: 3px;
margin:5px auto 5px auto;
text-align: center;}